<div class="row top-50 animated fadeIn">
    <div class="col-md-12">
      <h2 class="float-left text-secondary">{{ (idcomponent ==0)?'Nuevo':'Actualizar' }} Componente</h2>
    </div>
  </div>

<div class="row top-50 animated fadeIn">
  <div class="col-md-6">
      <div class="card" [ngStyle]="{'border-top': (component?.current_user != '' && component?.current_user != undefined && idcomponent != null  ) ? '4px solid rgb(221, 0, 49)':''}">
          <div class="card-body">
            
            <form #theForm="ngForm" name="theForm" (ngSubmit)="processForm(theForm.value)">
              <div class="form-group">
                <label for="">Nombre del Archivo</label>
                <input type="text" name="name" [(ngModel)]="component.name" placeholder="ib_List.xml" class="form-control form-control-sm" autocomplete="off" required>
              </div>
              <div class="form-group">
                <label for="">Ruta del Archivo</label>
                <input type="text" name="filepath" [(ngModel)]="component.filepath" placeholder="Transactor/Data/ib_List.xml" class="form-control form-control-sm"
                autocomplete="off" required (ngModelChange)="onchangeInput($event)">
              </div>
              <div class="form-group">
                <label for="">Extensión</label>
                <select name="extension" [(ngModel)]="component.extension"  class="form-control form-control-sm" autocomplete="off" (ngModelChange)="onchangeSelect($event)" required>
                  <option value="">Seleccionar</option> 
                  <option value="{{ t.shortname }}" *ngFor="let t of typefiles">{{ t.shortname }}</option>         
                </select>
              </div>

              <div class="float-right">
                  <button [disabled]="theForm.invalid"
                          class="btn btn-primary btn-sm" 
                          style="margin-right: 5px;">
                          Guardar
                  </button>
                  <a routerLink='/component' class="btn btn-secondary btn-sm text-white">Cancelar</a>
              </div>
            </form>

          </div>
        </div>
  </div>
  <div class="col-md-5">
    
    <div class="card-comp" *ngIf="typefileselect != null && component.extension != ''">
      <div class="row align-middle">
        <div class="col-md-1 col-sm-1" style="margin:10px 4px">
          <h6 class="text-center text-secondary icon-type">
            {{typefileselect.shortname}}
          </h6>
        </div>
        <div class="col-md-10 col-sm-10" style="margin-left: 15px;">
          <small>
            <span class="text-secondary">
                {{typefileselect.longname}}
            </span>
          </small><br>
          <small>
              {{typefileselect.description}}
          </small>
        </div>
      </div>
    </div>

      <div class="card" *ngIf="history.length > 0">
        <div class="card-body">
          <h5 class="text-secondary card-title">Historial del componente</h5>
          
          <div class="container-history" style="overflow-x: hidden; overflow-y: scroll;max-height: 350px;">
              <div class="card-comp text-secondary" style="width:98%;padding: 10px;" *ngFor="let h of history">
                <div class="row">
                  <div class="col-md-12">
                    <!-- <small>{{h|json}}</small> -->
                    <span class="text-primary">{{h?.identity}}</span>
                    <span class="float-right">{{ h?.title_r}}</span><br>
                    <small><strong>Detalle:</strong></small><br>
                    <small>{{h?.title}}</small><br>
                    <small><strong>{{h?.user}} - {{h?.name}} {{h?.lastname }}</strong></small>
                    <small class="float-right">{{ h?.created | date :'d/M/yy hh:mm a' }}</small>
                </div>
                </div>
              </div>
          </div>

        </div>
      </div>

      

  </div>
</div>