
<div class="my-login-page">
    <section class="h-100">
        <div class="container h-100">
          <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
              <div class="brand">
                <img src="./assets/img/icono.png">
              </div>
              <div class="card" style="box-shadow: 6px 6px 6px 1px #ccc">
                <div class="card-body">
                  <h4 class="card-title text-right text-secondary">Login</h4>
                  <form name="theForm" #theForm="ngForm" (ngSubmit)="loginForm(theForm.value)">
                    
                    <div class="form-group">
                      <label for="register">Registro</label>
                      <input id="register" type="text" class="form-control" name="register" 
                          value="" required autofocus placeholder="XT7226" autocomplete="off"
                          style="text-transform: uppercase;" [(ngModel)]="user.register">
                    </div>
    
                    <div class="form-group">
                      <label for="password">Contraseña</label>
                      <input id="password" type="password" class="form-control" name="password" 
                        required placeholder="********" [(ngModel)]="user.password">
                    </div>
    
                    <div class="form-group">
                      <label>
                        <input type="checkbox" name="remember" 
                          [(ngModel)]="user.remember">Recordar cuenta
                      </label>
                    </div>
    
                    <div class="form-group no-margin">
                      <button type="submit" [disabled]="theForm.invalid || loading" class="btn btn-primary btn-block">
                        Ingresar
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="footer">
                Copyright &copy; Patrick Salguero 2018
              </div>
            </div>
          </div>
        </div>
    </section>
</div>
