<div class="row top-50 justify-content-center animated fadeIn">
  <div class="col-md-4">
    <div class="card bg-card mb-3 animated bounceIn" style="max-width: 18rem;">
      <div class="card-body text-center">
        <h5 class="card-title">Total de Componentes</h5>
        <h1 class="text-secondary">20</h1>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card bg-card mb-3 animated bounceIn" style="max-width: 18rem;">
      <div class="card-body text-center">
        <h5 class="card-title">Total de Requerimientos</h5>
        <h1 class="text-secondary">20</h1>
      </div>
    </div>
  </div>
</div>