<div class="row top-50 animated fadeInDown">
  <div class="col-md-12">
    <h2 class="float-left text-secondary">Componentes</h2>
    <div class="float-right">
      <a class="btn btn-primary text-white" routerLink="/component/add"> + Nuevo Componente</a>
    </div>
  </div>
</div>

<div class="row top-50 justify-content-md-center">
  <div class="col-md-5">
    <form action="">
      <div class="form-group">
        <input type="text" name="find" 
               placeholder="Buscar por nombre del componente"
               class="form-control form-control-sm"
               [(ngModel)]="find"
               (ngModelChange)="findComponent($event)"
               style="border-radius: 15px">
      </div>
    </form>
  </div>
  <!-- <div class="col-md-6">
    <button type="button" class="btn btn-outline-primary btn-sm" style="margin-right: 10px">Javascript</button>
    <button type="button" class="btn btn-outline-primary btn-sm" style="margin-right: 10px">XML</button>
    <button type="button" class="btn btn-outline-primary btn-sm" style="margin-right: 10px">ASP</button>
    <button type="button" class="btn btn-outline-primary btn-sm" style="margin-right: 10px">FAA</button>
  </div> -->
</div>

<div class="row animated fadeIn top-50">
  <div class="col-lg-4 col-sm-6 col-sm-12 col-xs-12 animated fadeIn" *ngFor="let c of components;let i = index;">
    <!-- <small>{{c|json}}</small> -->
    <div class="card-comp" [ngStyle]="{'border-left': (c.current_user != '') ? '4px solid rgb(221, 0, 49)' : ''}">
      <div class="row align-middle">
        <div class="col-md-1 col-sm-1" style="margin:10px 4px">
          <h6 class="text-center icon-type" 
              (click)="selectComponent(c)"
              [ngStyle]="{ 'font-size' : c.extension.length >= 3 ? '12px' : '13px' }">
            {{c.extension | slice:0:3 }}
          </h6>
        </div>
        <div class="col-md-10 col-sm-10" style="margin-left: 15px;">
          <small class="float-right text-secondary" (click)="deleteComponent(c)">X</small>
          <small (click)="selectComponent(c)" ><strong class="text-primary">{{c.name}}</strong></small><br>
          <small (click)="selectComponent(c)"><span class="text-secondary" [title]="c.pathfile">{{c.pathfile | slice:0:43}}</span></small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="components.length == 0">
  <div class="col-md-12">
      <div class="alert alert-primary text-center">
        <span >No se han encontrado registros</span>
      </div>
  </div>
</div>

<div class="row animated fadeIn justify-content-md-center top-50" style="padding-bottom: 20px">
  <div class="col-md-12 text-center" >
    <button type="button" class="btn btn-outline-secondary btn-sm" (click)="loadMore()" *ngIf="find.length == 0" >Cargar Más ...</button>
  </div>
</div>