<div class="row top-50 animated fadeInUp">
  <div class="col-md-12">
    <h2 class="text-secondary">Perfil</h2>
    <p class="text-secondary">Hola, <strong>{{user['name']}} {{user['lastname']}}</strong></p>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-secondary">Cambiar clave</h4>
        <form name="theFormPass" #theFormPass="ngForm" (ngSubmit)="processFormPass(theFormPass.value)">
          <div class="form-group">
            <label for="">Clave actual</label>
            <input required type="password" name="current_pass" [(ngModel)]="userpass.current_pass" class="form-control form-control-sm" placeholder="Clave actual">
          </div>
          <div class="form-group">
            <label for="">Nueva clave</label>
            <input required type="password" name="password" [(ngModel)]="userpass.password"  class="form-control form-control-sm" placeholder="Nueva clave">
          </div>
          <div class="form-group">
            <label for="">Repita nueva clave</label>
            <input required type="password" name="re_password" [(ngModel)]="userpass.re_password" class="form-control form-control-sm" placeholder="Repita la clave">
          </div>
          <label class="float-left">{{passmessage}}</label>
          <button [disabled]="theFormPass.invalid || (userpass.current_pass != userpass.password)"
            type="submit" class="btn btn-primary btn-sm float-right">Actualizar
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <h4 class="text-secondary">Actualizar datos</h4>
        <form name="theFormUpdate" #theFormUpdate="ngForm" (ngSubmit)="processForm(theFormUpdate.value)">
          <div class="form-group">
            <label for="">Registro</label>
            <input readonly required type="text" name="nickname" [(ngModel)]="user.nickname" class="form-control form-control-sm"  placeholder="XT7226">
          </div>
          <div class="form-group">
            <label for="">Nombres</label>
            <input required type="text" name="name" [(ngModel)]="user.name" class="form-control form-control-sm" placeholder="Nombre">
          </div>
          <div class="form-group">
            <label for="">Apellidos</label>
            <input type="text" name="lastname" [(ngModel)]="user.lastname" class="form-control form-control-sm" placeholder="Apellidos">
          </div>
          <div class="form-group">
              <label for="">Email</label>
              <input required type="text" name="email" [(ngModel)]="user.email" class="form-control form-control-sm" placeholder="Email">
            </div>
          <p class="float-left" *ngIf="message != '' ">{{message}}</p>
          <button [disabled]="theFormUpdate.invalid" type="submit" class="btn btn-primary btn-sm float-right">Actualizar</button>
        </form>
      </div>
    </div>
  </div>
</div>