<div class="row top-50 animated fadeInUp">
  <div class="col-md-12">
    <a routerLink="/request/add" class="btn btn-primary float-right">+ Nuevo Requerimiento</a>
    <h2 class="text-secondary">Requerimientos</h2>
  </div>
</div>

<div class="row top-50">
  <div class="col-md-4 col-xs-12" *ngFor="let r of requests;let i = index;" style="cursor: pointer;margin-bottom: 15px;">
    <div class="card request-card animated fadeIn">
      <div class="card-body">
          <span class="text-center float-right badge badge-secondary" (click)="deleteRequest(r)">x</span>
        <h5 (click)="selectRequest(r)" class="text-primary">{{r.identity}} </h5>
        <span (click)="selectRequest(r)" style="font-size: 1.3rem">{{r.title}}</span> <br>
        <!-- <small>Componentes: <span class="badge badge-primary">23</span></small>  -->
        <div style="margin-top:10px">
            <small class="float-left">Creación: <span class="badge badge-info"> {{ r.created | date}}</span></small>
            <small class="float-right">Estado: <span class="badge badge-success">{{r.status}}</span></small> <br>
        </div>
        <h5 style="margin-top:10px" class="float-left text-secondary">{{r.teach}}</h5>
        
        <small class="float-right" style="margin-top:10px">
            <button (click)="showDetail(r)" class="btn btn-sm btn-outline-primary btn-block">Ver detalles</button>
        </small>
      </div>
    </div>
  </div>
</div>