<nav class="navbar navbar-expand-lg navbar-dark " style="background: #1976d2">
  <a class="navbar-brand" href="#">TMI Tracker</a>
  
  <button class="navbar-toggler" type="button" id="btnToggle" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="onclickMenu()" routerLink='/component'>Componentes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="onclickMenu()" routerLink='/request'>Requerimientos</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" (click)="onclickMenu()" routerLink='/typefile'>Tipo Componentes</a>
      </li>
      <li *ngIf="_loginService.isAdmin" class="nav-item" routerLinkActive="active">
          <a class="nav-link" (click)="onclickMenu()" routerLink='/user'>Usuarios</a>
      </li>
    </ul>

    <ul class="navbar-nav ">
          <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ _loginService.getUser()['name']  }} {{_loginService.getUser()['lastname']}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item"  routerLink="/profile">Cambiar clave</a>
                <a class="dropdown-item" href="#">Ayuda</a>
                <a class="dropdown-item" href="#" (click)="logout()" >Cerrar Sesión</a>
              </div>
            </li>
    </ul>
  </div>
</nav>