<nav class="navbar navbar-expand-lg navbar-dark " style="background: #1976d2">
  <a class="navbar-brand" href="#">TMI Tracker</a>
  
  <button class="navbar-toggler" type="button" id="btnToggle" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="onclickMenu()" routerLink='/component'>Componentes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="onclickMenu()" routerLink='/request'>Requerimientos</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" (click)="onclickMenu()" routerLink='/typefile'>Tipo Componentes</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Buscar componente" aria-label="Búsqueda"> -->
      <!-- <button class="btn btn-dark my-2 my-sm-0" type="submit">Buscar</button> -->
    </form>

    <span class="navbar-text">
        #Patrick Salguero
    </span>

  </div>
</nav>